# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

build/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environments
.env
.env.*
*.local

# Ignore raw documents/images (including a few examples)
documents/raw/*
!documents/raw/.gitkeep
!documents/raw/base.jpg
!documents/raw/diagonal_view.jpg
!documents/raw/redlight.jpg
!documents/raw/GNHK_success.jpg
!documents/raw/GNHK_fail.jpg

# Generated outputs (including a few examples)
# Ignore all outputs by default
outputs/*
!outputs/.gitkeep
!outputs/reference/
!outputs/reference/**